{% extends 'base.html' %}
{% block title %} home page{% endblock title %}
{% block body %} 
{% load static%}
<style>
  

div [class^="col-"]{
  padding-left:5px;
  padding-right:5px;
}
.card{
  transition:0.5s;
  cursor:pointer;
}
.card-title{  
  font-size:25px;
  transition:1s;
  cursor:pointer;
}
.card-title i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}
</style>


<div class="container mt-2">
    <!--   <div class="card card-block mb-2">
        <h4 class="card-title">Card 1</h4>
        <p class="card-text">Welcom to bootstrap card styles</p>
        <a href="#" class="btn btn-primary">Submit</a>
      </div>   -->

      <div class="row">
        {% for book in file %}
        <div class="col-md-3 col-sm-6" style="margin-top: 20px; margin-bottom: 20px;">
          <div class="card card-block">
          
        <img class="imgt" src="{{book.img.url}}" alt="Photo of sunset">
            <h3 class="card-title mt-3 mb-3">{{book.title}}</h3>
            <p style="margin-bottom:0px;" class="card-text">{{book.desc}}<p> 
              <p style="margin-bottom: 2ch; margin-top: -40px;">
                <a href="{{book.adminupload.url}}" class="btn btn-primary" target = "_blank"> view </a>
                <a href="{{book.adminupload.url}}" class="btn btn-primary"  download> Download </a>
              </p>
      </div>
        </div>
        {% endfor %}
        
      </div>
      
    </div>
    
{% endblock body %}

