{% extends 'base.html' %}
{% block title %} MCQ {% endblock title %}
{% block body %}
{% load static%}
<div style="margin-left: 10px; margin-right: 10px; justify-content: center;">
    <div class="no-result">
        <h3>Search Results : </h3>
        {% if jobs|length < 1 %} 
        <p> No Search Result Found. <br> 
            Your Search Query : <b>{{query}}</b> - did not match any document.</p>
            Suggestions :
            <ul>
                <li> sure that all words are spelled correctly.</li>
                <li>Try different keywords.</li>
                <li>Try more general keywords.</li>
                <li>Try fewer keywords.</li>
            </ul>
            {% endif %}
            <a href="/jobs" class="btn btn-dark">
                << Back</a>
    </div>
    <div style="margin-left: 10px; margin-right: 10px; justify-content: center;">
        <!--<div class = "navbar">
                <h3>{{t}}</h3>
                <form method = "get" action = "/search{{m}}" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search a question" aria-label="Search" name = "query" id = "query">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
        </div>-->
        <div class="container outer-job" style="height: auto !important; font-family: 'Droid Sans';">

            {% for post in jobs %}
            <!-- Post Start-->
            <div class="container mt-3 job-card">
                <a href="#">
                    <h5 class="mt-0">{{post.title | safe}}</h5>
                </a>
                <div class="media">
                    <img src="{{post.logo.url}}" width="98px" height="96px" class="mr-3" alt="...">
                    <div class="media-body ml-1">
                        <p>{{post.desc | truncatewords:"27" |safe}}...</p>
                    </div><br>
                </div>
                <div class="read-button">
                    <button class="btn btn-primary">Read More....</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <br> <br>
    </div>
</div>

{% endblock body %}