{% extends 'base.html' %}
{% block homeactive %} active {% endblock homeactive %}
{% block title %} Article {% endblock title %}
{% block body %} 
{% load static%}
{% load social_share %}

<div style="margin-left: 10px; margin-right: 10px; justify-content: center;">
    <div class="container outer-job" style="height: auto !important; font-family: 'Droid Sans';">

        <!-- Post Start-->
        <div class="container mt-3 job-card">
            <h3 class="text-center mt-0">{{post.title | safe}}</h3>
            <div class="media">
                <div class="media-body">
                    <div style="display: flex;">
                    <img src="{{post.logo.url}}" width = "98px" height="96px" class="mr-3" alt="...">
                    <p style="width: fit-content;"><b>{{post.desc |safe}}</b></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{post.description | safe}}
                        </li>
                    </ul>
                </div><br>
            </div>
        </div>
    </div>
    <br> <br>
</div>
    
    {% endblock body %}
